h1{
    font-size: 80px;
    color: #00CED1;
}
body{
    background:#F0F8FF
    ;
}
button{
border: 3px solid  #00CED1;
margin: 5px;
height: 60px;
width: 180px;
}
a{
    text-decoration: none;
    color: #00CED1;
    font-weight: bold;
    font-size: larger;
}
button:hover{
    
    color: black;
    border: 3px solid green;
}
